useDynLib(CNAV)

import (MCMCpack)

export ( 
  testSkript,
  generate_initial_parameters,
  get_parameters,
  duplicate_transition_matrix,
  generate_transition_matrix,
  transition_to_indexmatrix,
  simulation,
  cnav.regression,
  fcgr_genotype_controls
)
